
img{
  border-radius: 50%;
}
#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #333;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
  

    
  body{
    background-color: thistle;
  }

.all {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



.button {
    background-color: palegoldenrod;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-shadow: 2px 2px cornflowerblue;
  }

p{
  font-size: 130%;
}

li{font-size: 130%;}

#setting{
  position: absolute;
  left:1100px;
  background-color: #333;
  border: none;
  color: white;
}
#setting2{
  position: absolute;
  left:1260px;
  background-color: #333;
  border: none;
  color: white;
}

iframe{margin: auto;
text-align: center;
}
